.header-confirmed {
	color: #ff073a
}

.header-active {
	color: #007bff
}

.header-recovered {
	color: #28a745
}

.header-dead {
	color: #6c757d
}

.header-fontstyle {
	font-family: archia
}

th {
	text-align: right;
}

td {
	text-align: right;
}

.district-td {
	text-align: left;
}

.table-header-center {
	text-align: left;
}

.table-header-right {
	text-align: right;
}

blockquote {
	color: #777777;
	font-style: none;
	font-family: 'Calibri';
	border: none !important;
}

p {
	font-family: 'Calibri';
}

h1 {
	font-weight: 600;
	font-size: 36px;
}

.delta {
	font-size: 13px;
}

.click-here-href {
	font-size: 14px;
	font-style: normal;
	color: #007bff;
}

li {
	line-height: 2;
}

.git-repo {
	color: #007bff;
	padding: 0px;
}

.git-href {
	color: #007bff;
	font-size: 11px;
	padding: 0px;
}

.icon-bar {
	font-size: 32px;
}

body {
	position: relative;
}

#section1 {
	padding-top: 50px;
	height: 280px;
	color: black;
	background-color: white;
}

#section2 {
	padding-top: 50px;
	height: 280px;
	color: black;
	background-color: white;
}

#section3 {
	padding-top: 50px;
	height: 280px;
	color: black;
	background-color: white;
}

#section4 {
	padding-top: 50px;
	height: 280px;
	color: black;
	background-color: white;
}

#section5 {
	padding-top: 50px;
	height: 280px;
	color: black;
	background-color: white;
}

#section6 {
	padding-top: 50px;
	height: 280px;
	color: black;
	background-color: white;
}

#section7 {
	padding-top: 50px;
	height: 950px;
	color: black;
	background-color: white;
}

.tooltip {
	width: 220px;
	height: 120px;
}