blockquote {
	color: #161625;
	font-style: normal;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	border: none !important;
	-webkit-user-select: none;
}

body {
	-webkit-tap-highlight-color: #0085A1;
	background: #161625!important;
}

table {
	font-size: 12px;
}

.table-header-right {
	text-align: right;
}

.delta {
	font-size: 0.8em;
}

.header-confirmed {
	color: #ff073a;
	text-align: right;
	padding-right: 10px;
	font-size: 1.35em;
}

.header-active {
	color: #007bff;
	text-align: right;
	padding-right: 5px;
	font-size: 1.35em;
}

.header-recovered {
	color: #28a745;
	text-align: right;
	padding-right: 10px;
	font-size: 1.35em;
}

.header-dead {
	color: #6c757d;
	text-align: right;
	padding-right: 10px;
	font-size: 1.35em;
}

#section1 {
	padding-top: 50px;
	height: 250px;
	color: black;
	background-color: white;
	-webkit-user-select: none; /* Safari */
}

h2 {
	font-weight: 600;
	font-size: 36px;
	padding-top: 10px;
}

.main-class {
	padding-bottom: 25px;
}

.body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.active-header-button {
	color: #FFFFFF;
	background-color: #333382;
	font-size: 13px;
	font-weight: 600;
}

.active-button {
	color: #FFFFFF;
	background-color: #8e0505;
}

.header-button {
	color: #FFFFFF;
}

.footer-button {
	color: #ef7171;
	padding-top: 20px;
}

.active-button {
	color: #FFFFFF;
	background-color: #8e0505;
	padding-top: 20px;
}

#section1 {
	color: white;
	background-color: #161625;
}

.section-heading {
	padding-top: 20px;
}

.table-body-tn-dt, 
.table-body-kl-dt, 
.table-body-ka-dt,
.table-body-ap-dt,
.table-body-tg-dt,
.table-body-reco,
.table-body-mort,
.covidHeading {
	color: grey;
}

.district-td-data {
	text-align: center;
	color: #ff073a;
}

.table-header-center {
	text-align: center;
	color: #ff073a;
}

.table-header-recovery {
	text-align: center;
	color: #28a745;
}

.table-header-mortality {
	text-align: center;
	color: #6c757d;
}

.ju {
	text-align: center;
}

.jum {
	text-align: center;
	background: #161625!important;
}

.cases-tested-in {
	font-size: 4em;
}

.cases-time-in {
	font-size: 14px;
	color: grey;
}

.custom-tr {
    border-bottom-style: hidden;
}

.custom-tr-reco {
	border-bottom-style: hidden;
}

.header-last-upd {
	color: #815f5f;
}

.custom-td-reco {
	color: #28a745;
	text-align: center;
}

.custom-td-reco-upd {
	color: #815f5f;
	text-align: right;
}

.custom-tr-mort {
	border-bottom-style: hidden;
}

.custom-td-mort {
	color: #6c757d;
	text-align: center;
}

.custom-td-mort-upd {
	color: #815f5f;
	text-align: right;
}

.rate-box {
	-webkit-user-select: none;
}


.heading-sub {
	text-align: left;
}

#rRatePct, #mRatePct {
	font-size: 22px;
}